.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD; /* Grey */
    border-radius: 4px;
    margin-top: 30px; /* Margin with the header. */
    background-color: white;
    display: flex;
    align-items: center; /* Align items in the section. */
}

button {
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
    order: 2; /* Set the "position: 0" to "position: 2" */
    background-color: #FF5A5F; /* light red */
    color: #FFFFFF; /* Characters - White */
    font-size: 18px;
}

button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
    color: #484848; /* dark grey */
    font-weight: 600;
    margin-left: 15%;
    margin-bottom: 3%;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 15%;
}

.popover {
    background-color: #FAFAFA; /* White */
    border: 1px solid #DDDDDD; /* Grey. */
    margin-top: -3%;
    border-radius: 4px;
    padding: 10% 0;
    display: none;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}

.popover li, .popover ul {
    list-style: none; /* delete list icon. */
}

.locations .popover li h2 {
    margin-left: 10%; /* justify h2. */
}
.popover h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.amenities .popover li {
    margin-left: 15%; /* Justify li. */
}