<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS">
    <meta name="description" content="AirBnB website clone.">
    <meta name="autor" content="Yesid A. López V.">
    <!-- References to styles sheets. -->
    <link href="../static/styles/4-common.css" rel="stylesheet">
    <link href="../static/styles/3-footer.css" rel="stylesheet">
    <link href="../static/styles/3-header.css" rel="stylesheet">
    <link href="../static/styles/6-filters.css" rel="stylesheet">
    <!-- Web site logo and name of the webpage's title(tab). -->
    <link rel="icon" type="image/png" href="../static/images/icon.png">
    <title> AirBnB clone</title>
  </head>
  <body>
    <header> <!-- Header. -->
      <!-- Logo. -->
      <div class="logo"></div>
    </header>
    <div class="container"> <!-- main, in this case, "Container" -->
      <section class="filters"> <!-- Section with search button. -->
	<button>Search</button>
	<div class="locations"> <!-- States. -->
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <ul class="popover">
	    {% for state in states | sort(attribute="name") %}
            <li>
              <h2>{{ state.name}}</h2>
              <ul>
                {% for city in state.cities | sort(attribute="name") %}
                <li>{{ city.name }}</li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
	  </ul>
	</div>
	<div class="amenities"> <!-- Amenities. -->
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
	  <ul class="popover">
	    {% for amenity in amenities | sort(attribute="name") %}
            <li>{{ amenity.name }}</li>
            {% endfor %}
	  </ul>
	</div>
      </section>
    </div>
    <footer> <!-- Footer -->
      <p>Holberton School</p>
    </footer>
  </body>
</html>
