<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>
  <BODY>
    {% if states is none %}
    <H1>Not found!</H1>
    {% elif id is none %}
    <UL>
      {% for state in states_dic.values() | sort(attribute="name") %}
      <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
	{% endfor %}
    </UL>
    {% else %}
      <H1></H1>
    <UL>
      {% for city in states.cities | sort(attribute="name") %}
      <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
      {% endfor %}
    </UL>
    {% endif %}
  </BODY>
</HTML>
